<div class="col-md-12">

  <div class="btn-wrap division">
    <div class="btn-wrap division">
      <button type="button" (click)="ajouter_article == true? ajouter_article = false: ajouter_article = true"
        class="btn btn-success btn-with-icon">
        <i class="fa fa-plus fa-fw"></i>Ajouter</button>
      <!--<button class="btn btn-primary" (click)="thirdModal.open()">modal that cannot be simply closed</button>-->

    </div>


    <div class="mt-5 mb-5" *ngIf="ajouter_article" style="margin-bottom: 3em;">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="form-group">

          <div class="row">
            <div class="col-md-3">
              <card cardTitle="Image">
                <div class="col-md-12 form-group">

                  <div class="m-auto">
                    <div *ngIf="urls && urls.length > 0" style="display: block;text-align: center;">
                      <img *ngFor="let url of urls" [src]="url" style="max-width: 250px; max-height: 250px;" alt="">
                    </div>

                    <label class="control-label">Image</label>
                    <input class="form-control mt-2" accept="image/x-png,image/gif,image/jpeg,image/jpg" type="file"
                      name="image" (change)="onSelectFile($event, f)" ngModel required>
                  </div>

                </div>
              </card>
            </div>
            <div class="col-md-9">

              <card cardTitle="ajout d' articles">
                <div class="col-md-6 form-group">
                  <label class="control-label">Titre</label>
                  <input type="text" name="title" ngModel class="form-control" placeholder="Titre article" required>
                </div>

                <div class="col-md-6 form-group">
                  <label class="control-label">Slug</label>
                  <input type="text" name="slug" ngModel class="form-control" placeholder="Slug" required>
                </div>

                <div class="col-md-6 form-group">
                  <label class="control-label">Seo Titre</label>
                  <input type="text" name="seo_title" ngModel class="form-control" placeholder="Seo Titre" required>
                </div>

                <div class="col-md-6 form-group">
                  <label class="control-label">Resumé</label>
                  <input type="text" name="excerpt" ngModel class="form-control" placeholder="Resumé" required>
                </div>


                <div class="col-md-6 form-group">
                  <label class="control-label">Meta description</label>
                  <input type="text" name="meta_description" ngModel class="form-control" placeholder="Meta description"
                    required>
                  </div>

                  <div class="col-md-6 form-group">
                    <label class="control-label">Mot-clé</label>
                    <input type="text" name="meta_keywords" ngModel class="form-control" placeholder="Mot-clé" required>
                   </div>

                   <div class="col-md-6 form-group">
                    <label class="control-label">Catégorie</label>
                    <select name="category_id" ngModel class="form-control" required>
                      <option *ngFor="let item of categories" [value]="item.id">{{item.title}}</option>
                    </select>
                   </div>

                   <div class="col-md-6 form-group">
                        <input class="checkbox" ngModel name="active" type="checkbox" id="color-checkbox1" checked>
                        <label class="check-label" for="color-checkbox1">Active</label>
                   </div>

                   <div class="col-md-12 form-group">
                    <label class="control-label">Contenu</label>
                    <textarea name="body" ngModel class="form-control" placeholder="Contenu"  cols="30" rows="10" required>

                    </textarea>
                  </div>

                <!--<div class="col-md-12 form-group">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" name="description" ngModel placeholder="Description"></textarea>
                </div>-->
              </card>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-lg btn-success">Enregistrer</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <card cardTitle='Articles'>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th *ngFor="let item of colonneSliders">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of tabledata | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.title}}</td>
            <td>{{item.slug}}</td>
            <td>
              <span *ngIf="item.active == 0" class="label label-danger">NON</span>
              <span *ngIf="item.active == 1" class="label label-success">OUI</span>

              <!--<switch (change)="inputStatus(item.active, item.id)" [switchName]="'status'+item.id" [switchId]="'id_'+item.id" theme="success" [checked]="item.active"></switch>-->
            </td>
            <td>
              <!--<button class="btn btn-icon btn-default" (click)="''">
                <i class="fa fa-eye fa-fw"></i>
              </button>-->
              <button class="btn btn-icon btn-primary" [routerLink]="['../article/edit', item.id]">
                <i class="fa fa-pencil fa-fw"></i>
              </button>
              <button class="btn btn-icon btn-danger" (click)="openModal(supprission, item)">
                <i class="fa fa-close fa-fw"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
            directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>

    </card>

  </div>



  <modal #supprission [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
      <h3>SUPPRESSION</h3>
    </modal-header>
    <modal-content>

      <p>
        Voulez-vous {{(article?.active)==0?'activez':'desactivez'}} cet articles ?
      </p>

    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="closeModal(supprission)">NON</button>
      <button class="btn btn-danger" (click)="onSubmitDelet(supprission)">OUI</button>
    </modal-footer>
  </modal>

  <loading [loading]="showloading"></loading>
