<div class="col-md-12">

  <card cardTitle='Slides'>

    <div>
            <!-- Controls -->
      <button class="btn btn-primary" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="btn btn-primary" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">


          <div class="row">

            <div class="col-md-4">
              <card>
                <div class="mb-2">
                  <img class="img-thumbnail"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </card>


            </div>

            <div class="col-md-4">
              <card>
                <div class="">
                  <img class="img-thumbnail"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </card>


            </div>

            <div class="col-md-4">
              <card>
                <div class="mb-2">
                  <img class="img-thumbnail"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </card>


            </div>


          </div>

        </div>

        <div class="item">


          <div class="row">

            <div class="col-md-4">
              <card>
                <div class="mb-2">
                  <img class="img-thumbnail"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(21).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </card>


            </div>

            <div class="col-md-4">
              <card>
                <div class="">
                  <img class="img-thumbnail"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(11).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </card>


            </div>

            <div class="col-md-4">
              <card>
                <div class="mb-2">
                  <img class="img-thumbnail"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(54).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </card>


            </div>


          </div>

        </div>

      </div>


    </div>
  </card>
</div>

<div class="col-md-12">

  <card cardTitle='Equipe'>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>FIRSTNAME</th>
          <th>LASTNAME</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>AGE</th>
          <th>STATE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.age}}</td>
          <td>
            <span class="label label-info">info</span>
          </td>
          <td>
            <button class="btn btn-icon btn-default" (click)="detail.open()">
              <i class="fa fa-eye fa-fw"></i>
            </button>
            <button class="btn btn-icon btn-primary" (click)="modification.open()">
              <i class="fa fa-pencil fa-fw"></i>
            </button>
            <button class="btn btn-icon btn-danger" (click)="supprission.open()">
              <i class="fa fa-trash fa-fw"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
          directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">Per Page</span>
        </div>
      </div>
    </form>

  </card>

</div>

<div class="col-md-12">

  <card cardTitle='Partenaire'>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>FIRSTNAME</th>
          <th>LASTNAME</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>AGE</th>
          <th>STATE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.age}}</td>
          <td>
            <span class="label label-info">info</span>
          </td>
          <td>
            <button class="btn btn-icon btn-default" (click)="detail.open()">
              <i class="fa fa-eye fa-fw"></i>
            </button>
            <button class="btn btn-icon btn-primary" (click)="modification.open()">
              <i class="fa fa-pencil fa-fw"></i>
            </button>
            <button class="btn btn-icon btn-danger" (click)="supprission.open()">
              <i class="fa fa-trash fa-fw"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
          directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">Per Page</span>
        </div>
      </div>
    </form>
  </card>

</div>

<modal #thirdModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>modal that cannot be simply closed</h3>
  </modal-header>
  <modal-content>

    <div class="form-group">
      <label class="control-label">Text</label>
      <input type="text" class="form-control" placeholder="Text Input">
      <label class="control-label">Password</label>
      <input type="password" class="form-control" placeholder="Password Input">
      <label class="control-label">With Help</label>
      <input type="text" class="form-control" placeholder="With Help">
      <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond
        one line.</span>
      <label class="control-label">Small Input</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small Input">
      <label class="control-label">Large Input</label>
      <input type="text" class="form-control form-control-lg" placeholder="Large Input">
      <label class="control-label">Disabled</label>
      <input type="text" class="form-control" placeholder="Disabled Input" disabled>
      <label class="control-label">Readonly</label>
      <input type="text" class="form-control" placeholder="Readonly Input" readonly>
      <label class="control-label">Textarea</label>
      <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
    </div>

  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(thirdModal)">close</button>
  </modal-footer>
</modal>

<modal #detail [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>modal that cannot be simply closed</h3>
  </modal-header>
  <modal-content>

    <div class="form-group">
      <label class="control-label">Text</label>
      <input type="text" class="form-control" placeholder="Text Input">
      <label class="control-label">Password</label>
      <input type="password" class="form-control" placeholder="Password Input">
      <label class="control-label">With Help</label>
      <input type="text" class="form-control" placeholder="With Help">
      <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond
        one line.</span>
      <label class="control-label">Small Input</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small Input">
      <label class="control-label">Large Input</label>
      <input type="text" class="form-control form-control-lg" placeholder="Large Input">
      <label class="control-label">Disabled</label>
      <input type="text" class="form-control" placeholder="Disabled Input" disabled>
      <label class="control-label">Readonly</label>
      <input type="text" class="form-control" placeholder="Readonly Input" readonly>
      <label class="control-label">Textarea</label>
      <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
    </div>

  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(detail)">close</button>
  </modal-footer>
</modal>

<modal #modification [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>modal that cannot be simply closed</h3>
  </modal-header>
  <modal-content>

    <div class="form-group">
      <label class="control-label">Text</label>
      <input type="text" class="form-control" placeholder="Text Input">
      <label class="control-label">Password</label>
      <input type="password" class="form-control" placeholder="Password Input">
      <label class="control-label">With Help</label>
      <input type="text" class="form-control" placeholder="With Help">
      <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond
        one line.</span>
      <label class="control-label">Small Input</label>
      <input type="text" class="form-control form-control-sm" placeholder="Small Input">
      <label class="control-label">Large Input</label>
      <input type="text" class="form-control form-control-lg" placeholder="Large Input">
      <label class="control-label">Disabled</label>
      <input type="text" class="form-control" placeholder="Disabled Input" disabled>
      <label class="control-label">Readonly</label>
      <input type="text" class="form-control" placeholder="Readonly Input" readonly>
      <label class="control-label">Textarea</label>
      <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
    </div>

  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(modification)">close</button>
  </modal-footer>
</modal>

<modal #supprission [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>modal that cannot be simply closed</h3>
  </modal-header>
  <modal-content>

    <p>
      Veniam consectetur proident ut reprehenderit dolore nostrud esse velit quis ea. Do amet magna enim labore mollit
      minim eu cillum commodo aute. Sunt cillum ipsum adipisicing adipisicing non mollit esse irure et. Velit sint
      proident laborum pariatur cillum velit et id. Aliqua excepteur mollit voluptate et quis irure adipisicing amet.

    </p>

  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(supprission)">close</button>
  </modal-footer>
</modal>

