<div class="btn-wrap division">
  <button type="button" (click)="thirdModal.open()" class="btn btn-success btn-with-icon">
    <i class="fa fa-plus fa-fw"></i>Ajouter</button>
  <!--<button class="btn btn-primary" (click)="thirdModal.open()">modal that cannot be simply closed</button>-->

</div>
<div class="row">
  <div class="col-md-12">
    <card [cardTitle]="nameTable">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th *ngFor="let item of column">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.username}}</td>
            <td>{{item.contact}}</td>
            <td>{{item.email}}</td>
            <td>
              <div [class]="
                            item.role == roles[0].code?'label-info':
                            item.role == roles[1].code?'label-primary':
                            item.role == roles[2].code?'label-success':
                            item.role == roles[3].code?'label-warning':'label-default'" *ngFor="let role of roles">
                {{(item.role == role.code ? role.title : '') | uppercase}}</div>
            </td>
            <td>
              <button class="btn btn-icon btn-default" (click)="openModal(detail, item)">
                <i class="fa fa-eye fa-fw"></i>
              </button>
              <button class="btn btn-icon btn-primary" (click)="openModal(modification, item)">
                <i class="fa fa-pencil fa-fw"></i>
              </button>
              <button class="btn btn-icon btn-danger" (click)="openModal(supprission, item)">
                <i class="fa fa-trash fa-fw"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
            directionLinks="true" autoHide="true" previousLabel="Retour" nextLabel="Suivant"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Line par page</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>


<modal #thirdModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>CREATION DE COMPTE UTILISATEUR</h3>
  </modal-header>

  <modal-content>

    <form #f="ngForm" (ngSubmit)="onSubmit(f, thirdModal)">

      <div class="form-group">
        <label class="control-label">Nom</label>
        <input type="text" name="nom" ngModel class="form-control" placeholder="Nom">

        <label class="control-label">Prénom (s)</label>
        <input type="text" name="prenom" ngModel class="form-control" placeholder="Prénom (s)">

        <label class="control-label">Contact</label>
        <input type="text" name="contact" ngModel class="form-control" placeholder="Contact">

        <label class="control-label">Rôle</label>
        <select name="role" ngModel id="select1" class="form-control">
          <option *ngFor="let item of roles" [value]="item.code">{{item.title | uppercase}}</option>
        </select>

        <label class="control-label">E-mail</label>
        <input type="email" name="email" ngModel class="form-control" placeholder="E-mail">

        <label class="control-label">Mot de passe</label>
        <input type="password" name="password" ngModel class="form-control" placeholder="Mot de passe">

      </div>

      <div class="">

        <button type="button" class="btn btn-default" (click)="closeModal(thirdModal)">Annuler</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>

    </form>


  </modal-content>

  <modal-footer>
  </modal-footer>

</modal>

<modal #detail [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>INFORMATION DE L'UTILISATEUR</h3>
  </modal-header>
  <modal-content>

    <div class="form-group">
      <label class="control-label">Nom</label>
      <input type="text" name="nom" ngModel class="form-control" [placeholder]="utilisateur.nom" disabled>

      <label class="control-label">Prénom (s)</label>
      <input type="text" name="prenom" ngModel class="form-control" [placeholder]="utilisateur.prenom" disabled>

      <label class="control-label">Contact</label>
      <input type="text" name="contact" ngModel class="form-control" [placeholder]="utilisateur.contact" disabled>

      <label class="control-label">Rôle</label>
      <input type="text" name="contact" ngModel class="form-control"
      [placeholder]="(utilisateur.role == roles[0].code?roles[0].title:
                      utilisateur.role == roles[1].code?roles[1].title:
                      utilisateur.role == roles[2].code?roles[2].title:
                      utilisateur.role == roles[3].code?roles[3].title:'') | uppercase" disabled>

      <!--<select name="role" ngModel id="select1" class="form-control" disabled>
        <option [value]="utilisateur.role" selected>{{(utilisateur.role == roles[0].code?roles[0].title:
                                              utilisateur.role == roles[1].code?roles[1].title:
                                              utilisateur.role == roles[2].code?roles[2].title:
                                              utilisateur.role == roles[3].code?roles[3].title:'') | uppercase}}</option>
      </select>-->

      <label class="control-label">E-mail</label>
      <input type="email" name="email" ngModel class="form-control" [placeholder]="utilisateur.email" disabled>

      <!--<label class="control-label">Mot de passe</label>
      <input type="password" name="password" ngModel class="form-control" placeholder="Mot de passe">-->

    </div>

  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(detail)">close</button>
  </modal-footer>
</modal>

<modal #modification [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>MODIFICATION DES INFOS UTILISATEUR</h3>
  </modal-header>
  <modal-content>

    <form #f="ngForm" (ngSubmit)="onSubmit(f, thirdModal)">

      <div class="form-group">
        <label class="control-label">Nom</label>
        <input type="text" name="nom" class="form-control" [ngModel]="utilisateur.nom">

        <label class="control-label">Prénom (s)</label>
        <input type="text" name="prenom" class="form-control" [ngModel]="utilisateur.prenom">

        <label class="control-label">Contact</label>
        <input type="text" name="contact" class="form-control" [ngModel]="utilisateur.contact">

        <label class="control-label">Rôle</label>
        <select name="role" [ngModel]="utilisateur.role" id="select1" class="form-control">
          <option *ngFor="let item of roles" [value]="item.code">{{item.title | uppercase}}</option>
        </select>

        <label class="control-label">E-mail</label>
        <input type="email" name="email" class="form-control" [ngModel]="utilisateur.email">

        <label class="control-label">Mot de passe</label>
        <input type="password" name="text" ngModel class="form-control" placeholder="Mot de passe">

      </div>

      <div class="">

        <button type="button" class="btn btn-default" (click)="closeModal(modification)">Annuler</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>

    </form>

  </modal-content>
</modal>

<modal #supprission [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>SUPPRIMER UN TILISATEUR</h3>
  </modal-header>
  <modal-content>

    <h3>
      Vous-voulez supprimer cet utilisateur ?
    </h3>

  </modal-content>
  <modal-footer>
    <button class="btn btn-default" (click)="closeModal(supprission)">NON</button>
    <button class="btn btn-primary" (click)="closeModal(supprission)">OUI</button>
  </modal-footer>
</modal>

<loading [loading]="loading"></loading>
