<div class="row">
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h2>Total de la vente du jour</h2>
        <h3 style="font: bold;">{{(dataState?.somme_vente_jour || 0) + " FCFA"}}</h3>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i class="fa fa-cog fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h2>Total des produits disponibles </h2>
        <h3 style="font: bold;">{{dataState?.nb_produit || 0}}</h3>
      </div>
      <button class="tip-ico tip-ico-info">
        <i class="fa fa-cog fa-fw"></i>
      </button>
    </div>
  </div>
   <!-- <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Mails</h3>
        <span>2 mails</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fa fa-envelope fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Feedback</h3>
        <span>20 feedbacks</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div>
<div class="col-md-8">
    <card cardTitle='Bar Chart' isCollapse="true">
      <div echarts [options]="AnimationBarOption" [loading]="showloading" theme="dark"></div>
    </card>
  </div>
  <div class="col-md-4">
    <card cardTitle="Todo List" isCollapse="true">
      <du-todolist></du-todolist>
    </card>
  </div>
  <div class="col-md-6">
    <card>
      <profile></profile>
    </card>
  </div>
  <div class="col-md-6">
    <card>
      <weather></weather>
    </card>
  </div>-->
</div>
<loading [loading]="showloading"></loading>
